<%- include('./layouts/header_nologout.ejs') %>
    <div class="container">
      <div class="row justify-content-center mt-3">
        <div class="col-md-6 pt-3">
          <div class="card">
            <header class="card-header border-0">
              <h4 class="card-title mt-2 text-center">Forgot Password!!!</h4>
            </header>
            <article class="card-body">
              <% if(typeof message !=='undefined' ) { %>
                <p style="color: green"><%= message %></p>
                <% } %>
              <form action="" method="post">
                
                <div class="form-group">
                  <label>Phone Number </label>
                  <input
                    type="number"
                    name="phoneNumber"
                    class="form-control"
                    id="phoneNumber"
                    placeholder="Phone number"
                    onchange="checkNumber()"
                    required
                  />
                  <span id="number"></span>
                </div>
                <div class="form-group"
                style="
                display: block;
                display: flex;
                justify-content: center;
                align-items: center;
              ">
                  <button type="submit" id="sendOTP" class="btn btn-primary btn-block" style="width: auto" disabled>
                    Send OTP
                  </button>
                </div>
                <a href="/login">Login with password</a>
              </form>
            </article>
          </div>
        </div>
      </div>
    </div>

    <script>
      // $(document).ready(function () {
      //   // Show/hide OTP field and button
      //   $("#otpButton").click(function () {
      //     $("#otpField").show();
      //     $("#otpVerifyButton").show();
      //   });
      // });
      function checkNumber()
        {
          
          let phone  = document.getElementById('phoneNumber').value;
          const message =  document.getElementById('number');
            console.log("phone :"+phone);
            if(phone.length <10 || phone.length >10){
              message.innerHTML = "please Enter a valid phone number";
              document.getElementById('phoneNumber').style.borderColor = "red";
              return false;
            }
            else{
              message.innerHTML = "";
              document.getElementById('phoneNumber').style.borderColor = "green";
              document.getElementById('sendOTP').removeAttribute('disabled');
              return true;
            }
        }
    </script>
 <%- include('./layouts/footer.ejs') %>