<%- include('./layouts/header_nologout.ejs') %>
    <div class="container">
      <div class="row justify-content-center mt-3">
        <div class="col-md-6 pt-3">
          <div class="card">
            <header class="card-header border-0">
              <h4 class="card-title mt-2 text-center">Reset Password!!!</h4>
            </header>
            <article class="card-body">
              <% if(typeof message !=='undefined' ) { %>
                <p style="color: green"><%= message %></p>
                <% } %>
            
               
            <form action="/resetPassword" method="post">
                <div id="reset" >
                    <div class="form-group">
                    <label>New Password </label>
                    <input
                        type="password"
                        name="password"
                        class="form-control"
                        id="password"
                        placeholder="New Password"
                        onchange="valid()"
                        required
                    />
                    <span id="passwordError"></span>
                    </div>
                    <div class="form-group">
                        <label>Confirm Password </label>
                        <input
                        type="password"
                        name="confirmPassword"
                        class="form-control"
                        id="confirmPassword"
                        placeholder="Confirm Password"
                        oninput="checkPassword()"
                        required
                        />
                        <span id="confirmPasswordError"></span>
                    </div>
                    <div class="form-group"
                    style="
                    display: block;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                ">
                    <button type="submit" id="resetpass" class="btn btn-primary btn-block" style="width: auto" disabled>
                        Reset Password
                    </button>
                    </div>
                </div>
                
                <a href="/login">Login with password</a>
                
              </form>
            </article>
          </div>
        </div>
      </div>
    </div>

    <script>
      // $(document).ready(function () {
      //   // Show/hide OTP field and button
      //   $("#otpButton").click(function () {
      //     $("#otpField").show();
      //     $("#otpVerifyButton").show();
      //   });
      // });
      function valid()
        {
          
          let password  = document.getElementById('password').value;
          const message =  document.getElementById('passwordError');
            console.log("password :"+password);
            if(password.length <8){
              message.innerHTML = "please Enter a valid phone number";
              document.getElementById('password').style.borderColor = "red";
              return false;
            }
            else{
              message.innerHTML = "";
              document.getElementById('password').style.borderColor = "green";
          
              return true;
            }
        };

        function checkPassword()
        {
          let password  = document.getElementById('password').value;
          let password2 = document.getElementById('confirmPassword').value;
          const message =  document.getElementById('confirmPasswordError');
            console.log("password :"+password);
            if(password !== password2){
              message.innerHTML = "Passwords not matches!";
              document.getElementById('confirmPassword').style.borderColor = "red";
              return false;
            }
            else{
              message.innerHTML = "";
              document.getElementById('confirmPassword').style.borderColor = "green";
              document.getElementById('resetpass').removeAttribute('disabled');
              return true;
            }
        };
        function checkOtp(){
            let otp  = document.getElementById('otp').value;
          const message =  document.getElementById('otpError');
           
            if(otp.length <6 || otp.length > 6 ){
              message.innerHTML = "please Enter a valid OTP";
              document.getElementById('otp').style.borderColor = "red";
              return false;
            }
            else{
              message.innerHTML = "";
              document.getElementById('otp').style.borderColor = "green";
              document.getElementById('sendOTP').removeAttribute('disabled');
              return true;
            }
        }
    </script>
 <%- include('./layouts/footer.ejs') %>