<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Ayra</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <style>
      body{
            background-image: url("https://wallpapercave.com/wp/wp3196949.jpg");
          background-repeat: no-repeat;
          background-size: cover;
         
        }
      @font-face {
        font-family: 'Rochester';
        src: url('/fonts/rochester.woff2') format('woff2'),
             url('/fonts/rochester.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        /* Optionally, you can include font-display and other properties here */
      }
      /* Apply the Rochester font to a specific CSS selector */
      .rochester-font {
        font-family: 'Rochester', sans-serif;
      }
      #ayra {
        color: palevioletred;
      }
      .btn{
        border: rgb(152, 7, 55);
        background-color: palevioletred;
      }
      #header-link {
    text-decoration: none;
    color: #000; /* Replace with your desired color */
  }
  .no-arrows::-webkit-inner-spin-button,
.no-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-arrows {
  -moz-appearance: textfield;
}

/* For Firefox */
.no-arrows[type=number] {
  -moz-appearance: textfield;
}

/* For Internet Explorer and Edge */
.no-arrows::-ms-clear {
  display: none;
}

    </style>
    
    
  </head>
  <body>
    <div class="container-fluid shadow-lg  bg-white rounded " >
        <div class="row ">
           
            <div class="col-md-12 text-center text-md-center">
              <a id="header-link" href="/"><h2 id="ayra" style="font-family: Rochester;font-size:70px;" class="rochester-font">ayra</h2></a>
            </div>
        </div>
    <nav class="navbar navbar-expand-lg ">
        
     
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto  mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">His</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Her</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Infants</a>
            </li> -->
          </ul>
      
          <!-- <form class="d-flex pe-2 justify-content-end" action="/user/logout" method="post">
            <button class="btn btn-outline-success" type="submit">Logout</button>
          </form> -->
       
        </div>
      </div>
    </nav>
</div>

    
